body{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}
.nav{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 15px;
    color: white;
    padding: 10px;
    
}

.nav-button{
    width:3%;
    margin: 5px;
    border: 1px solid rgb(37, 33, 33);
    padding: 5px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: solid red; */
}
.top-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: solid gray; */
    width: 50%;
    padding: 10px;
    text-align: center;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.button{
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    color: white;
    border: none;
}
.button-green{
    background-color: green;
    
}
.button-gray{
    background-color: gray;
}

.bottom-section{
    /* border: solid purple; */
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;

}
.card{
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* padding: 10px; */
    margin: 15px;
    background: rgb(245, 243, 240);
    box-shadow: 0px 0px 5px;
    border: none;

    
}
.thumbnail{
    height: 150px;
    width: 100%;
    /* border: solid pink; */
    background-color: rgb(54, 52, 52);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    
}

.card p{
    padding: 10px;
}

.card-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin: 5px;
    color: gray;;
}
span{
    border: 1px solid rgb(38, 36, 36);
    padding: 5px;
    /* border-radius: 5px; */
}

.view-edit{
    display: flex;
}
.view-edit p{
    border: solid gray;
    border-radius: 5px;


}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background: gainsboro;
    color: gray;
}
.para{
    flex-basis: 50%;
    line-height: 2;
}
a{
    text-decoration: none;
    color: rgb(51, 33, 131);
}
